USE [master]
GO
/****** Object:  Database [Bilet_System]    Script Date: 22.12.2021 21:51:37 ******/
CREATE DATABASE [Bilet_System]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Bilet_System', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Bilet_System.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Bilet_System_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Bilet_System_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Bilet_System].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Bilet_System]
GO
/****** Object:  Table [dbo].[Bilets]    Script Date: 22.12.2021 21:51:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bilets](
	[ID_Bilet] [int] NOT NULL,
	[Address_Bilet] [nvarchar](100) NULL,
	[Date_Bilet] [date] NULL,
	[Time_Bilet] [time](7) NULL,
	[Place_Bilet] [nvarchar](100) NULL,
	[Topic_Bilet] [nvarchar](200) NULL,
	[Category_Bilets] [nvarchar](50) NULL,
	[Price_Bilets] [int] NULL,
 CONSTRAINT [PK_Bilets] PRIMARY KEY CLUSTERED 
(
	[ID_Bilet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cancellation_of_the_Event]    Script Date: 22.12.2021 21:51:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cancellation_of_the_Event](
	[ID_Event_Card] [int] NOT NULL,
	[ID_Bilet] [int] NULL,
 CONSTRAINT [PK_Cancellation_of_the_Event] PRIMARY KEY CLUSTERED 
(
	[ID_Event_Card] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Event_Card]    Script Date: 22.12.2021 21:51:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event_Card](
	[ID_Event_Card] [int] NOT NULL,
	[Name_Event_Card] [nvarchar](50) NULL,
	[Amount_of_visitors] [int] NULL,
	[Category_Bilets] [nvarchar](50) NULL,
	[Price_Bilets] [int] NULL,
	[Analytics_Bilets] [nvarchar](max) NULL,
 CONSTRAINT [PK_Event_Card] PRIMARY KEY CLUSTERED 
(
	[ID_Event_Card] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pokupatel]    Script Date: 22.12.2021 21:51:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pokupatel](
	[ID] [int] NOT NULL,
	[Familia] [nvarchar](50) NULL,
	[Imya] [nvarchar](50) NULL,
	[Otchestvo] [nvarchar](50) NULL,
	[ID_Bilet] [int] NULL,
 CONSTRAINT [PK_Pokupatel] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prodawec]    Script Date: 22.12.2021 21:51:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prodawec](
	[ID] [int] NOT NULL,
	[Familia] [nvarchar](50) NULL,
	[Imya] [nvarchar](50) NULL,
	[Otchestvo] [nvarchar](50) NULL,
	[Passport_Num_Series] [nvarchar](11) NULL,
	[Date_of_Birth] [date] NULL,
	[ID_Bilet] [int] NOT NULL,
 CONSTRAINT [PK_Prodawec] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Refund_Bilets]    Script Date: 22.12.2021 21:51:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Refund_Bilets](
	[ID_Bilet] [int] NOT NULL,
	[Amount_Return_Bilets] [int] NULL,
	[Sum_Return] [int] NULL,
 CONSTRAINT [PK_Refund_Bilets] PRIMARY KEY CLUSTERED 
(
	[ID_Bilet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 22.12.2021 21:51:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[ID] [int] NOT NULL,
	[Title] [nvarchar](40) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 22.12.2021 21:51:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[IDRole] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
